
body{
    background-color: rgb(140, 255, 255);
    color:rgb(51, 6, 250);
    margin: 0%;
}
header{
    color: red;
    background: rgb(212, 248, 8);
    background-image: url("images (1).jpeg");
    background-size: 100%;
    background-position: center;
}
h1{
    padding: 5% 20%;
}
h2{
    padding-left: 5%;
    color: rgb(0, 172, 43);
    text-size-adjust: auto;
}
h3{
    color: rgb(190, 29, 169);
}
a:first-child{
    margin-left: 10px;
}
a:hover{
    text-decoration: underline;
    background-color: crimson;
}
a{
    text-decoration: none;
    color: darkkhaki;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: rgb(250, 105, 2);
}
li{
    display: inline;
    margin-right: 20px;
}
button{
    color: rgb(255, 0, 43);
    border: none;
    background: rgb(255, 207, 167);
}
section{
    background: silver;
    color: blue;
    padding: 50px;
    display: flex;
    flex-direction: column;
}
div{
    background: crimson;
    color: rgb(255, 255, 255);
    margin: auto;
    width: 25%;
    height: 200px;
}
